[SERVICE]
    Flush        5
    Daemon       Off
    Log_Level    info

[INPUT]
    Name         systemd
    Tag          host.*

[OUTPUT]
    Name         es
    Match        *
    Host         {{ elasticsearch_host }}
    Port         {{ elasticsearch_port }}
    Index        fluentbit
    Type         flb_type